@*
Segrey Software licenses this file to you under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with 
the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*@
@using KettleModel 
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<KettleModel.KettleItem>

<script type="text/javascript" src="@Url.Content("~/Content/CollapsibleLists.js")"></script>

@helper RenderUses(KettleItem job)
{
    <ul class="collapsibleList">
        @foreach (var item in job.ReferencedItems)
        {
            <li>
                @item.Name
                <a href="@item.Url">@("(" + item.TypeName + ")")</a>
                @if (item.ReferencedItems.Count > 0)
                {
                    @RenderUses(item)
                }
            </li>
        }
    </ul>
}
@helper RenderUsedBy(KettleItem job)
    {
    <ul class="collapsibleList">
        @foreach (var item in job.ReferncedByItems)
        {
            <li>
                @item.Name
                <a href="@item.Url">@("(" + item.TypeName + ")")</a>
                @if (item.ReferncedByItems.Count > 0)
                {
                    @RenderUsedBy(item)
                }
            </li>
        }
    </ul>
}

<html>
    <body>
        <h2>Job: @Model.Name</h2>
        <form action="@Model.Url" method="POST">
            <table>
                <tr><td>Name</td><td>@Model.Name</td></tr>
                <tr><td>Directory</td><td>@Model.Directory</td></tr>
                <tr>
                    <td style="vertical-align: top">Uses</td>
                    <td>@RenderUses(Model)</td>
                </tr>
                <tr>
                    <td style="vertical-align: top">Used by</td>
                    <td>@RenderUsedBy(Model)</td>
                </tr>
                <tr><td>Name</td><td><input name="Name" value="@Model.Name" /></td></tr>
                <tr><td>Directory</td><td><input name="Directory" value="@Model.Directory" />
                                          <input type="submit" value="Change" /></td></tr>

                <tr><td>Errors</td><td>@Model.ErrorMessage</td></tr>
            </table>
        </form>
        <a href="@Model.Repository.Url">Repository</a>
    </body>
    <script>
        CollapsibleLists.apply();
    </script>
</html>

